@tailwind base;
@tailwind components;
@tailwind utilities;

/* Fonts */
@layer base {
  @font-face {
    font-family: Chap-Regular;
    src: url("/assets/fonts/Chap-Regular.woff") format("woff");
  }
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "Chap-Regular", Serif;
}

/* Swiper Slide */

.swiper-slide {
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
}

.swiper-slide > .swiper-slide-shadow {
  background: none !important;
}

.swiper-slide > .image-card-1 {
  width: 100%;
  height: 100%;
}

.swiper-slide > .image-card-2 {
  width: 100%;
  height: 100%;
}

.swiper-slide > .image-card-3 {
  width: 100%;
  height: 100%;
}

.swiper-slide > .image-card-4 {
  width: 100%;
  height: 100%;
}

.stack-image {
  cursor: pointer;
}

.drop-cap {
  font-size: 30px;
  line-height: 1.625;
  padding-right: 2px;
}

.story-text-appear {
  opacity: 0;
  transform: translate(0, 50px);
}

.story-text-appear-active {
  opacity: 0;
}

.story-text-appear-done {
  opacity: 1;
  transition: opacity 1000ms ease-in-out, transform 1200ms;
  transform: translate(0, 0);
}

@media only screen and (max-width: 600px) {
  /* Stack Card */
  .stack-image-1 {
    position: absolute;
    width: 300px;
    height: 300px;
    transform: translate(0, 0);
    z-index: 91;
  }

  .stack-image-2 {
    position: absolute;
    width: 300px;
    height: 300px;
    transform: translate(0, 325px);
    z-index: 81;
  }

  .stack-image-3 {
    position: absolute;
    width: 300px;
    height: 300px;
    transform: translate(0px, 650px);
    z-index: 71;
  }

  .stack-image-4 {
    position: absolute;
    width: 300px;
    height: 300px;
    transform: translate(0, 975px);
    z-index: 61;
  }

  /* CSS Animation */
  .stack-image-item-1-enter {
    opacity: 0;
    transform: translate(-50px, 0);
  }

  .stack-image-item-1-enter-active {
    opacity: 0;
  }

  .stack-image-item-1-enter-done {
    opacity: 1;
    transition: opacity 1000ms ease-in-out, transform 1200ms;
    transform: translate(0, 0);
  }

  .stack-image-item-2-enter {
    opacity: 0;
    transform: translate(-50px, 325px);
  }

  .stack-image-item-2-enter-active {
    opacity: 0;
  }

  .stack-image-item-2-enter-done {
    opacity: 1;
    transition: opacity 1000ms ease-in-out, transform 1200ms;
    transform: translate(0, 325px);
  }

  .stack-image-item-3-enter {
    opacity: 0;
    transform: translate(50px, 650px);
  }

  .stack-image-item-3-enter-active {
    opacity: 0;
  }

  .stack-image-item-3-enter-done {
    opacity: 1;
    transition: opacity 1000ms ease-in-out, transform 1200ms;
    transform: translate(0px, 650px);
  }

  .stack-image-item-4-enter {
    opacity: 0;
    transform: translate(-50px, 975px);
  }

  .stack-image-item-4-enter-active {
    opacity: 0;
  }

  .stack-image-item-4-enter-done {
    opacity: 1;
    transition: opacity 1000ms ease-in-out, transform 1200ms;
    transform: translate(0, 975px);
  }

  .sticky-bottom {
    position: "absolute" !important;
    bottom: 0;
    right: 0;
  }
}

@media only screen and (min-width: 600px) {
  /* Stack Card */
  .stack-image-1 {
    position: absolute;
    width: 500px;
    height: 500px;
    transform: translate(0, 300px);
    z-index: 91;
  }

  /* .stack-image-1:hover {
  z-index: 1001;
  transform: translate(0, 150px);
  width: 500px;
  height: 500px;
  transition: transform 1500ms;
} */

  .stack-image-2 {
    position: absolute;
    width: 500px;
    height: 500px;
    transform: translate(-150px, 150px);
    z-index: 81;
  }

  /* .stack-image-2:hover {
  z-index: 1002;
  transform: translate(-150px, 0px);
  width: 500px;
  height: 500px;
  transition: transform 1500ms;
} */

  .stack-image-3 {
    position: absolute;
    width: 500px;
    height: 500px;
    transform: translate(0px, 0px);
    z-index: 71;
  }

  /* .stack-image-3:hover {
  z-index: 1003;
  transform: translate(0px, -150px);
  width: 500px;
  height: 500px;
  transition: transform 1500ms;
} */

  .stack-image-4 {
    position: absolute;
    width: 500px;
    height: 500px;
    transform: translate(150px, 150px);
    z-index: 61;
  }

  /* .stack-image-4:hover {
  z-index: 1004;
  transform: translate(150px, 0px);
  width: 500px;
  height: 500px;
  transition: transform 1500ms;
} */

  .stack-image-5 {
    position: absolute;
    width: 404px;
    height: 404px;
    transform: translate(100px, 140px);
  }

  /* CSS Animation */
  .stack-image-item-1-enter {
    opacity: 0;
    transform: translate(0, 250px);
  }

  .stack-image-item-1-enter-active {
    opacity: 0;
  }

  .stack-image-item-1-enter-done {
    opacity: 1;
    transition: opacity 1000ms ease-in-out, transform 1200ms;
    transform: translate(0, 300px);
  }

  .stack-image-item-2-enter {
    opacity: 0;
    transform: translate(-100px, 150px);
  }

  .stack-image-item-2-enter-active {
    opacity: 0;
  }

  .stack-image-item-2-enter-done {
    opacity: 1;
    transition: opacity 1000ms ease-in-out, transform 1200ms;
    transform: translate(-150px, 150px);
  }

  .stack-image-item-3-enter {
    opacity: 0;
    transform: translate(0px, -50px);
  }

  .stack-image-item-3-enter-active {
    opacity: 0;
  }

  .stack-image-item-3-enter-done {
    opacity: 1;
    transition: opacity 1000ms ease-in-out, transform 1200ms;
    transform: translate(0px, 0px);
  }

  .stack-image-item-4-enter {
    opacity: 0;
    transform: translate(100px, 150px);
  }

  .stack-image-item-4-enter-active {
    opacity: 0;
  }

  .stack-image-item-4-enter-done {
    opacity: 1;
    transition: opacity 1000ms ease-in-out, transform 1200ms;
    transform: translate(150px, 150px);
  }

  .sticky-bottom {
    position: "sticky" !important;
    bottom: 0;
    right: 0;
  }
}

.instagram-gallery {
  display: -webkit-box;
  display: flex;
  flex-wrap: wrap;
}

@media only screen and (max-width: 600px) {
  .instagram-gallery {
    display: -webkit-box;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  .instagram-item {
    -webkit-box-flex: 0;
    flex: 0 0 calc(100% / 1 - 50px);
    margin: 5px;
    display: block;
    position: relative;
  }
}

@media only screen and (min-width: 600px) {
  .instagram-item {
    -webkit-box-flex: 0;
    flex: 0 0 calc(100% / 3 - 10px);
    margin: 5px;
    display: block;
    position: relative;
  }
}

.instagram-image {
  display: block;
  width: 100%;
  height: 100%;
}

.pagination {
  display: block;
  margin: 0 auto;
  padding: 2em;
}


.booking-lines-border {
  border-radius: 1rem;
  border-width: 1px;
  --tw-border-opacity: 1;
  border-color: rgb(0 0 0 / var(--tw-border-opacity));
  padding: 2.5rem 1.25rem 3rem;
}

.time-wrapper {
  max-width: 512px;
}

.status-round {
  height: 8px;
  width: 8px;
  border-radius: 50%;
}
