@tailwind base;
@tailwind components;
@tailwind utilities;

/* Fonts */
@layer base {
  @font-face {
    font-family: Chap-Regular;
    src: url("/assets/fonts/Chap-Regular.woff") format("woff");
  }
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "Chap-Regular", Serif;
}

.swiper-slide {
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
}

.swiper-slide > .swiper-slide-shadow {
  background: none !important;
}

.swiper-slide > .image-card-1 {
  width: 100%;
  height: 100%;
}

.swiper-slide > .image-card-2 {
  width: 100%;
  height: 100%;
}

.swiper-slide > .image-card-3 {
  width: 100%;
  height: 100%;
}

.swiper-slide > .image-card-4 {
  width: 100%;
  height: 100%;
}
